.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product {
    display: flex;
  }
  
  .product img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-name {
    font-size: 24px;
    margin-top: 0;
  }
  
  .product-description {
    font-size: 16px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
  }
  
  .btn-add-to-cart {
    background-color: red;
    color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-add-to-cart:hover {
    background-color: blueviolet;
  }
  